<div class="jumbotron center">
    <h1>Welcome to Pinterest!</h1>
    </br>
    <p>
      <% if user_signed_in? %>
          <!-- USER IS SIGNED IN -->

          <p># do something</p>
      <% else %>
        <!-- USER IS NOT SIGNED IN, SHOW LINKS TO SIGNIN OR SIGN UP -->
      <p>
        <%= link_to "Click here to Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Click here to Login", new_user_session_path, class: "btn btn-success btn-lg" %>
      </p>
  <% end %>

    </p>
</div>




<!--
<#%= link_to "here", "#thelink" %>
'link_to'       ruby function which creates an on-the-fly a href tag
'here'          the link text
'#thelink'      the link
-->



