<h1>About</h1>
<p>They call me Jason ... or Mr Recliner, or something to do with balls... </p>
<p>You probably already knew that ;)</p>
<p>This is a really simple Ruby On Rails App, it's a total rip of Pinterest.</p>
<hr>
<p>Users can Sign Up, Manage their account, Create pins.</p>
<p>Users can only Edit and Delete pins that they have personally created.</p>
<a href="https://github.com/jasonlukeball/pinteresting" class="sourceCode"><span class="glyphicon glyphicon-qrcode"></span> Check out the source code on GitHub</a>
