<h1>Welcome to my App!</h1>
<p>Sign up <%= link_to "here", "#thelink" %>.</p>

<!--
<#%= link_to "here", "#thelink" %>
'link_to'       ruby function which creates an on-the-fly a href tag
'here'          the link text
'#thelink'      the link
-->



