<div class="jumbotron center">
    <h1>Welcome to Pinterest!</h1>
    </br>
    <p>
      <% if user_signed_in? %>
          # do something
      <% else %>
      <p>
        <%= link_to "Click here to Sign up", "/users/sign_up", class: "btn btn-primary btn-lg" %>
        <%= link_to "Click here to Login", "/users/sign_in", class: "btn btn-success btn-lg" %>
      </p>
  <% end %>

    </p>
</div>




<!--
<#%= link_to "here", "#thelink" %>
'link_to'       ruby function which creates an on-the-fly a href tag
'here'          the link text
'#thelink'      the link
-->



