<div class="jumbotron">
    <h1>Welcome to my App!</h1>
    </br>
    <p><%= link_to "Click here to Sign up", "#thelink", class: "btn btn-primary btn-lg" %></p>
</div>

<!--
<#%= link_to "here", "#thelink" %>
'link_to'       ruby function which creates an on-the-fly a href tag
'here'          the link text
'#thelink'      the link
-->



