// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
  // This is the div with the id #pins
  // The wrapper div containing all the pins
  // Centers all the pins
  margin: 0 auto;
}


.box {
  // This is an individual pin
  margin: 5px;
  width: 250px;
  padding: 2px 2px 2px 2px;
}


.box img {
  // This the image for an individual pin
  width: 100%;
}